# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Temporary Files
*~
.*.swp
.DS_STORE
robovm-build/
project.xcworkspace/
xcuserdata/
xcode/native/
.gradle/
build/
bin/
target/
obj/
out/
classes/
.gwt/
gwt-unitCache/
war/
gen/
gen-external-apklibs/
armeabi/
armeabi-v7a/
arm64-v8a/
linux32/
linux64/
windows32/
windows64/
macosx32/
ios32/
Debug/
Release/
x64/
x86/
x86_64/
robovm-build/
ipch/
/dist

*.a
*.a.tvos
*.dll
*.dll.mdb
*.userprefs
*.sdf
*.class
hs_err_pid*
Thumbs.db

libgdx-*.zip
libgdx-*.zip.MD5

*.iml
/.idea/

#core & extension libs/ folders that have no 3rd party dependencies in them
/gdx/libs
/backends/gdx-backend-jglfw/libs/
/backends/gdx-backend-robovm/libs/
/extensions/gdx-audio/libs/
/extensions/gdx-box2d/gdx-box2d/libs/
/extensions/gdx-bullet/libs/
/extensions/gdx-controllers/gdx-controllers-desktop/libs/
/extensions/gdx-freetype/libs/
/extensions/gdx-image/libs/
/extensions/gdx-setup/gdx-setup.jar

#the LWJGL3 libs are pulled via fetch.xml
/backends/gdx-backend-lwjgl3/libs/lwjgl*.jar

#ensure gdx-setup.jar works properly
!/extensions/gdx-setup/src/com/badlogic/gdx/setup/resources/gwt/war

#directories created by fetch.xml
/tests/gdx-tests-android/libs
/tmp/

#gradle wrapper
/local.properties